@import "../variables";
@import "../mixins";

.notFound {
  max-width: 1280px;
  margin: 0 auto;
  @include flex-center-center;

  &__wrapper {
    margin-top: 200px;
    @include flex-column;
    @include flex-center-center;
  }

  &__error {
    @include text-format(400, 200px, 230px);
    color: $violet;
  }

  &__text {

  }

}