@import "../mixins";

.register {
  width: 100%;
  min-height: 100vh;
  @include flex-center-center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media screen and (max-width: 520px) {
    min-height: 100%;
    top: 64px;
  }
}