@import "../variables";
@import "../mixins";

.likeButton {
  width: 30px;
  height: 28px;
  @include flex-center-center;
  align-self: flex-end;
  border: none;
  border-radius: 4px;
  background-color: $grayLight;
  cursor: pointer;
  transition: transform ease-in-out 0.2s, box-shadow ease 0.2s;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

    svg {
      fill: $violet;

      path {
        stroke: none;
      }
    }
  }

  &:focus {
    svg {
      animation: onFocus ease-in-out 0.2s;
    }
  }
}

@keyframes onFocus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}