@import 'variables';
@import 'components/all';
@import 'mixins';

body {
  font-family: $fontFamily;
  color: $black;
  @include text-format(400, 20px, 23px);
  width: 100%;
  background-color: $white;
  box-sizing: border-box;
}

.app {
  height: 100%;
  margin: 0 auto;
  min-width: 320px;
}

.section {
  width: 100%;
  margin: 48px 0;

  @media screen and (max-width: 520px) {
    margin: 32px 0;
  }
}